{% extends 'base.html' %}
{% block head_title %}| Productos{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="row separatedv">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-6">
            <h1>Iniciar sesión</h1>
            <form method="post">
              {% csrf_token %}
              {{ form }}
              <br><button type="submit" class="btn btn-lg btn-success btn-block">Entrar</button>
            </form>
          </div>
          <div class="col-lg-3">

          </div>
    </div>
  </div>
</section>
{% endblock %}
